@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/blue";

body {
    font: var(--font-m);
    color: var(--inverted-primary-color);
}

.app {
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    overflow-y: auto;
    height: calc(100vh - 50px);
    flex-grow: 1;
    padding: 20px;
    padding-left: 40px;
    width: 100%;
    color: var(--inverted-primary-color);
}