.ArticleListItem {
}

.BIG {
    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 10px;
    }

    .date {
        margin-left: auto;
    }

    .img {
        width: 100%;
        margin: 16px 0;
        max-height: 250px;
        object-fit: cover;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .title {
        margin-top: 10px;
    }

    .textBlock {
        max-height: 200px;
        overflow-y: hidden;
    }
}

.SMALL {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types {
        p {
            width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        p {
            width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .imageWrapper {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}
