.app_blue_theme {
    --inverted-secondary-color: #000;
    --inverted-primary-color: #fff;
    --bg-color: #0000a3;
    --inverted-bg-color: #312c2f;
    --primary-color: #13a5d6;
    --secondary-color: #f4f9fb;
    --code-bg: rgb(196 196 196 / 20%);
}