.app_dark_theme {
    --inverted-secondary-color: #000;
    --inverted-primary-color: #fff;
    --bg-color: #545457;
    --inverted-bg-color: #2a2a2b;
    --primary-color: #0232c2;
    --secondary-color: #04ff1d;
}