.app_light_theme {
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --bg-color: #dbdbdb;
    --inverted-bg-color: #00005e;
    --primary-color: #000;
    --secondary-color: #fff;
}