.app_light_theme {
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --bg-color: #dbdbdb;
    --inverted-bg-color: #00005e;
    --primary-color: #000;
    --secondary-color: #000;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: rgb(196 196 196 / 20%);

    //card
    --card-bg: #a0a0a0;
}
