.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--primary-color);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-left: 10px;
}

.themeButton {
  height: 40px;
  width: 40px;
}