.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
}

.loading {
    border: none;
}